<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static '/css/detail.css' %}">
</head>
<body>
    <div class="kuang">

        <div class="top">
            <h1>{{wt.pname}}</h1>
        </div>
        <div class="bottom">
            <form action="{% url 'demo3:poll' wt.id %}" method="post">
                <ul>
                    {% for i in wt.option_set.all %}
                        <li>{{i.oname}}<input type="radio" name="wname" value="{{i.id}}" ></li>
                    {%endfor%}
                    <input type="submit" value="确定">
                </ul>
            </form>
            <a href="{% url 'demo3:index' %}"><buttom>返回首页</buttom></a>
        </div>
    </div>
</body>
</html>