<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static '/css/poll.css' %}">
</head>
    <div class="kuang">
<body>

        <div class="top">
            <h1>{{wt.pname}}</h1>
        </div>
        <div class="bottom">
            <form action="">
                <ul>
                    {% for i in wt.option_set.all %}
                        <li>{{i.oname}}的票数:{{i.oshu}}</li>
                    {%endfor%}
                </ul>

                <input type="submit" value="确定">
            </form>
            <a href="{% url 'demo3:index' %}"><buttom>返回首页</buttom></a>
        </div>
    </div>
</body>
</html>